@{
    ViewBag.Title = "Schedule";
    @model IEnumerable<OnTime.Models.Viewmodels.ScheduleViewModel>

}

<h3 style="color:azure;">Upcoming Shifts</h3>


@if (Model != null)
{
    <table class="table table-hover table-responsive" style="background-color: #1d1919; opacity: 0.7; table-layout: fixed;">
        <tr>
            <th style="color:azure;">Employee</th>
            <th style="color:azure;">Shift Type</th>
            <th style="color:azure;">Start</th>
            <th style="color:azure;">End</th>
            <th style="color:azure;">Created By</th>

        </tr>

        @foreach (var schedule in Model)
        {
            <tr style="background-color:azure;">
                <td>@schedule.Employee</td>
                <td>@schedule.ShiftType</td>
                <td>@schedule.startTime</td>
                <td>@schedule.EndTime</td>
                <td>@schedule.CreatedBy</td>
                <td>@schedule.Id</td>
            </tr>
        }
    </table>



}
else
{
    <div class="alert alert-danger">No Schedule</div>
}